[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:Vauxoo/mexico.git
	branch = 15.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:vauxoo/server-tools.git
	branch = 15.0
[submodule "edicionesfiscales"]
	path = edicionesfiscales
	url = git@git.vauxoo.com:Vauxoo/edicionesfiscales.git
	branch = 15.0
